*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(images/daniel-pascoa-clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
}

#board {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
}

.square {
  display: flex;
  height: 75px;
  width: 75px;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
  transition: all .15s;
  justify-content: center;
  align-items: center;
}

.square-b {
  background-color: rgba(60, 50, 50, .75);
}

.square-w {
  background-color: rgba(200, 200, 200, .75);
}

.hover {
  box-shadow: 0 0 15px rgba(255, 185, 0, .85);
}

.piece {
  height: 50px;
  width: 50px;
}
